.header-bg {
  background-color: var(--cor-p9);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.header-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header-ul a {
  padding: 16px;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
  }

  .header-ul a {
    background-color: var(--cor-p11);
    border-radius: 5px;
    padding: 16px;
  }

  .header nav {
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .header-ul a {
    font-size: 1rem;
  }

  .header-ul {
    gap: 30px;
  }
}
