.intro-bg {
  background-color: var(--cor-1);
}

.introduction {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.intro-img {
  background: url("../../img/cars-rbg/c7.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0px;
  max-width: 700px;
  width: 100%;
  height: 340px;
}

@media (max-width: 1200px) {
  .intro-img {
    max-width: 600px;
  }
}

@media (max-width: 1000px) {
  .intro-img {
    max-width: 450px;
  }
}

@media (max-width: 800px) {
  .introduction {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .intro-content {
    gap: 20px;
  }

  .intro-content h1 {
    font-size: 3rem;
  }

  .intro-img {
    position: static;
  }
}

@media (max-width: 600px) {
  .introduction {
    grid-template-columns: 1fr;
  }

  .intro-img {
    height: 200px;
    grid-area: 1;
  }
}
